doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    block title
      title t0twpapi | t0twpapi
    block metatags
      meta(name="viewport", content="width=device-width, user-scalable=no")
      link(rel="stylesheet", href="./css/main.css")
  
  body  
    
    header(class="site-header")
      block header
        h1 t0tapi
    
    include components/mainnav
    
    main(id="mainDiv" class="site-main")
      block main
        
    include components/widget
    
    block footer
      footer(class="main-footer")
        small credits &copy;
        a(class="icon-logo_sf2" href="http://sergiofores.net")
      
    script(src="./js/build.js")
