extends _layout

append main
  
  h2 Home
  
  section
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptates pariatur voluptatum minus illo impedit eligendi vel enim ipsam. Dolores saepe sequi adipisci a praesentium! Quam odio, a nihil officia.
